spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/demo_api
    username: postgres
    password: Sh176717@
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
